# Node modules
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs/
*.log
logs/*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
bower_components/
jspm_packages/

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Editor & System files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Ignore build files
dist/
build/
coverage/
